body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.controlPanel {
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: black;
  border-width: 5px;
  border-color: white;
  visibility: hidden;
}

input {
  background: transparent;
  color: white;
  padding: 0 20px;
  width: 50%;
  align-self: center;
}