body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

}

@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.popup {
  position: absolute;
  max-height: 800px;
  max-width: 300px;
  background-color: black;
  border-width: 5px;
  border-color: white;
  visibility: hidden;
  overflow-y:auto;
  font-family: "Lucida Console", "Courier New", monospace;
  flex-direction: column;
  align-items: flex-start;
}

.popup input {
  background: transparent;
  color: white;
  padding: 0 20px;
  width: 80%;
  margin: 10px;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.popup input:focus {
  color: greenyellow;
  outline: none;
}

.popup label {
  background: transparent;
  color: white;
  margin: 20px 20px 20px 20px;
  font-size: 1em;
  flex-direction: column;
  align-items: flex-start;
}

.popup .banner {
  background: white;
  color: black;
  margin: 10px 10px 10px 10px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
}

.popup #closeButton {
  float: left;
}

.popup p, .mobileWelcomeScreen {
  color: white;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}